
            .page_grid{
                margin-top: 80px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
                margin-left: 80px;
                
                background-color: rgb(245, 245, 252);
                padding: 20px;
            }
            @media (max-width :600px)   {
                .page_grid{
                    grid-template-columns: 1fr 1fr;
                }
            }  
            /* @media (min-width :1000px)   {
                .page_grid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }          */
            @media (max-width :300px)   {
                .page_grid{
                    grid-template-columns: 1fr;
                }
            }          
            .thumbnail{
            
        
                width: 100%;
            }
           
            .thumbnail_pic{
                margin-bottom: 12px;
            }
            .video_info_grid{
                display:grid ;
                grid-template-columns: 50px 1fr;
            }
            .video_title{
               
                margin-top: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 12px;
            }
            .video_author{
                
                font-size: 12px;
                color:rgb(96, 96, 96); 
                
            }
            .video_stat{
                
                font-size: 12px;
                color:rgb(96, 96, 96); 
                
        
            }
            .profile_thumbnail{
               
                width: 40px;
                border-radius: 50px;
                
            }
            .video_info{
                width: 240px;
                display: inline-block;
            } 
          
            .profile_pic{
                
                display: inline-block;
                vertical-align: top;
            }
